:root {
  /* ## Colors */

  --Red-color: hsl(14, 86%, 42%);
  --Green-color: hsl(159, 69%, 38%);
  --Rose-50-color: hsl(20, 50%, 98%);
  --Rose-100-color: hsl(13, 31%, 94%);
  --Rose-300-color: hsl(14, 25%, 72%);
  --Rose-400-color: hsl(7, 20%, 60%);
  --Rose-500-color: hsl(12, 20%, 44%);
  --Rose-900-color: hsl(14, 65%, 9%);

  font-family: "Red Hat Text", sans-serif;
  --ancho_compra: 120px;
  --ancho_contenedor: 150px;
  --alto: 30px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Rose-50-color);
}

.container {
  padding: 3rem;
  width: 100%;
  display: flex;
}

.left-panel {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  width: 100%;
}



.titulo {
  grid-area: titulo;
}

.card__img {
  grid-area: card;
  width: var(--ancho_contenedor);
  height: var(--ancho_contenedor);
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  border-radius: 10px;
}
.carrito {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: var(--ancho_compra);
  height: var(--alto);
  background-color: white;
  position: absolute;
  left: calc((var(--ancho_contenedor) - var(--ancho_compra)) / 2);
  bottom: calc(-1 * var(--alto) / 2);
  border: 1px solid #000;
  border-radius: 20px;
  cursor: pointer;
  padding: 0px 5px;
}
.carrito__img {
  display: inline-block;
  font-size: 0.7rem;
  content: url(/assets/images/icon-add-to-cart.svg);
  /* width: 30px; */
}
.carrito__add {
  display: inline-block;
  font-size: 0.7rem;
  font-weight: bolder;
}
.card__name {
  margin-bottom: 5px;
  font-size: 0.7rem;
  color: gray;
}
.card__fullName {
  font-size: 0.7rem;
  font-weight: bold;
}
.card__price {
  font-weight: bold;
  color: var(--Red-color);
}

.pedido {
  grid-area: pedido;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: fit-content;
  background-color: white;
  color: var(--Rose-900-color);
  padding: 20px;
  border-radius: 20px;
}
.pedido__texto {
  margin-bottom: 20px;
}
.pedido__img {
  /* background-color: green; */
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  background-image: url(/assets/images/illustration-empty-cart.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pedido__p {
  font-size: 0.7rem;
  font-weight: bolder;
}

.card__img-1 {
  background-image: url(/assets/images/image-waffle-desktop.jpg);
}
.card__img-2 {
  background-image: url(/assets/images/image-creme-brulee-desktop.jpg);
}
.card__img-3 {
  background-image: url(/assets/images/image-macaron-desktop.jpg);
}
.card__img-4 {
  background-image: url(/assets/images/image-tiramisu-desktop.jpg);
}
.card__img-5 {
  background-image: url(/assets/images/image-baklava-desktop.jpg);
}
.card__img-6 {
  background-image: url(/assets/images/image-meringue-desktop.jpg);
}
.card__img-7 {
  background-image: url(/assets/images/image-cake-desktop.jpg);
}
.card__img-8 {
  background-image: url(/assets/images/image-brownie-desktop.jpg);
}
.card__img-9 {
  background-image: url(/assets/images/image-panna-cotta-desktop.jpg);
}

.signo {
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 50%;
  padding: 5px;
}

.menos {
  content: url(/assets/images/icon-decrement-quantity.svg);
}

.mas {
  content: url(/assets/images/icon-increment-quantity.svg);
}

.mas:hover,
.menos:hover {
  filter: invert(1);
  background-color: black;
  /* cursor: cell; */
  border: none;
}
.hidden {
  display: none;
}

/* PEDIDOS */
.nuevoDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* background-color: rebeccapurple; */
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid gray;
}

.nuevoDiv__titulo {
  font-weight: bold;
}
.nuevoDiv__cantidad {
  display: inline-block;
  color: red;
  font-weight: bold;
  margin-right: 3px;
}
.nuevoDiv__valor {
  display: inline-block;
  margin-right: 5px;
  color: gray;
}
.nuevoDiv__valor2 {
  display: inline-block;
  font-weight: bold;
  color: gray;
}

.nuevoDiv__x {
  background-image: url(assets/images/icon-remove-item.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background-color: black;
  filter: invert(1);
}

/* STILOS PARA LA PARTE DE CONFIRMAR LA COMPRA */

.cuenta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
}

.order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.order__texto {
  font-size: 0.8rem;
}
.order__total {
  font-weight: bolder;
  font-size: 1.3rem;
}
.cuenta__carbon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  padding: 10px;
  width: 100%;
}

.p__carbon {
  font-size: 0.7rem;
}
.img__carbon {
  background-image: url(/assets/images/icon-carbon-neutral.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.btn__confirm {
  background-color: hsl(14, 86%, 42%);
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 50px;
  color: white;
  cursor: pointer;
}
